@model ChurrascOli.ViewModels.HomeVM
			@{
				ViewData["Title"] = "Home";
                }

			<div class="pt-5 container">
				<div class="row">
					<div class="col mx-auto text-center">
						<h1 class="display-4 text-white">ChurrascOli</h1>
						<div class="my-3">
							<button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter" onclick="filter('')">
								Ver Todos
							</button>

							@foreach (var tipo in Model.Tipos)
							{
								<button id="btn-@tipo.Id" class="btn btn-sm my-2 text-white btn-filter"
									style="background-color:@tipo.Id" onclick="filter('@tipo.Nome')">@tipo.Nome</button>
							}
						</div>
					</div>
				</div>

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

					@foreach (var churrasco in Model.Churrascos)
					{
						<!-- Card Churrasco - Inicio -->
						
							<a asp-action="Details" asp-route-id="@churrasco.Nome" class="text-decoration-none">
								<img src="@churrasco.Imagem" class="card-img-top" alt="@churrasco.Nome" />
									<div class="card-body">
										<h5 class="card-text mb-1 text-white"> @churrasco.Nome</h5>
										<h3 class="card-title text-dark">@churrasco.Nome</h3>
										<div class="d-flex justify-content-between align-items-center">
											
										</div>
									</div>
							</a>
						<!-- Card Churrasco - Fim -->
					}
				</div>
				<div id="zeroChurrasco" class="col-lg-12 text-center d-none mt-5" style="height: 350px;">
					<h1 class="my-3 text-danger">Nenhum Churrasco Encontrado</h1>
				</div>
			</div>

			@section Scripts {
				<script src="~/js/site.js"></script>
			}	